/* custom.css */

.index-2sec-title {
    color:whitesmoke
}

.index-2sec-content {
    color:beige
}

.navbar-contain-padding {
    padding-bottom: 20px !important;
}

.img-max-width {
    max-width: 100% !important;
}

.text-logo-yellow {
    color: #ffad00;
}

.index-bg-match-dark {
    background-color:#301b57 !important
}
/*#301b57*/
.text-intro-align-center{
    text-align: center !important;
}

.margin-box-top{margin-top: 0.25rem;}

.p-6 {padding:5rem !important}

.about-us-padding{
    padding-left:3rem !important;
    padding-right:3rem !important;
}

/* Parallax Container */
.parallax-container {
    /* Background image */
    background-image: url('./img/protein.png'); /* Adjust the path as needed */
    
    /* Set a fixed height; adjust as needed */
    height: auto;
    
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Optional: Add overlay color with transparency */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-blend-mode: multiply; */
}

/* Responsive Adjustment */
@media (max-width: 768px) {
    .parallax-container {
        background-attachment: scroll; /* Disables fixed attachment on smaller screens */
    }
}

.custom-service-item {
    position: relative;
    padding: 45px 30px;
    background: linear-gradient(to bottom, #4B6E82, #27596f, #542e81);
    transition: .5s;
    aspect-ratio: 0.8;
    max-height: 900px !important;
}

.bio-service-item {
    position: relative;
    padding: 45px 30px;
    background: linear-gradient(to bottom, #7f7880, #4a3267);
    transition: .5s;
}


.custom-service-item .custom-service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: rgba(232, 9, 39, 0.025); /* var(--light);*/
    transition: .5s;
}

.custom-service-item:hover .custom-service-icon {
    background: rgba(232, 9, 39, 0.025);
}

.bio-service-item .bio-service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: rgba(232, 9, 39, 0.025); /* var(--light);*/
    transition: .5s;
}

.bio-service-item:hover .bio-service-icon {
    background: rgba(232, 9, 39, 0.025);
}

.text-align-full-length{
    text-align: justify !important;
}

body{margin:0;font-family:monospace;font-size:1rem;font-weight:600;line-height:1.5;color:#dfdada;background-color:#301b57;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0) !important}

.h1 { font-family: monospace; font-size: 1px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 1.1px; !important;} h3 { font-family: monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; !important;} blockquote { font-family: monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.custom-pt-5{padding-top:1rem !important}


.custom-hero-header {
    position: relative;
    margin-top: -95px;
    overflow: hidden;
    height: 100vh; /* Adjust height as per your needs */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    z-index: -1; /* Places the video behind any other content */
}

.img_fit_to_box {
    width: 100% !important;
    object-fit: cover !important;
}

.box_fit_to_text {
    display:flex !important;
}

.img_fit_to_contain {
    max-width: 100% !important;
    max-height: 400px !important;
    height: auto !important;
}

.custom-service-item h4 {
    display: inline-block;
    padding: 3px 15px;
    color: #e6dada;
    background: rgb(0, 48, 40);
    border-radius: 25px;
    margin-bottom: 15px;
}

.index-hero-header {
    margin-top: -95px;
    background: url(../img/bg-index.png) center center no-repeat;
    background-size: cover;
}